
*{
  box-sizing: border-box;
}

html {font-size: 100%;}

body{
  margin: 0;
  padding: 0;
  /* font-size: calc(66.5%/16); */
  
  font-family: 'Nanum Gothic', sans-serif;
  
}

#wrapperlite{
  padding-top: 1em;
}

#headerarea{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr; 
  /* grid-template-rows: 1fr 1fr;  */
  /* gap: 100px 100px; */
  margin-bottom: 8em;
}
video{
  width: 100%;
}
#headerarea video{
  width: 70%;
}

#a-nav{
  display: flex;
  list-style-type: none;
  /* position: fixed; */
  background: white;
  z-index: 1;
  top: 0px;
  padding: 1em;
  padding-left: 2em;
  margin: 0;
  width: 100%;
}
#a-nav > *{
  margin-right: 2em;
}
#a-nav a:link{
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

#resume-a{
  /* display: none; */
  position: relative;
}

#threedee1{
  width: 100%;
  height: 600px;
  /* background: green; */
  position: relative;
}

#resume-a video{
  width: 100%;
}

h1{
  /* font-family: 'Gurajada', sans-serif; */
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8rem;
  padding: 0;
  line-height: 0;
  text-transform: uppercase;
  padding-left: 1em;
}

h2{
  font-weight: 700;
}



#projects{
  margin-top: 8em;
  padding: 0 2em;
  /* background: blue; */
}

#projects .item-type-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr; 
  /* grid-template-rows: 1fr 1fr;  */
  gap: 100px 100px;
  margin-bottom: 8em;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  
}
#projects .item-type-1 {
  /* background-attachment: fixed; */
  /* background-size: cover; */
}
#projects .item-type-1 article {
  order: 1;
  /* background: orange; */
  /* padding: 0 8em; */
  padding: 0 2em 0 8em;
  max-width: 600px;
  
}
#projects .item-type-1 article h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  margin-left: -0.4em;
  /* font-weight: 700; */
}
#projects .item-type-1 article ul{
  
  border-left: solid 1px #aaeeff;
  margin-top: -0.2em;
  padding: 0.5em 1em 4em 0.5em;
}
#projects .item-type-1 article ul li{
  padding: 0.5em;
  list-style-type: none;
}

#projects .item-type-1 picture{
  width: 36%;
  min-height: 600px;
  background-size: cover;
  background-color: orange;
  border-radius: 16px;
  align-self: start;
  padding: 0 8em;
  margin-top: -4em;
  margin-right: -2em;
}
