
:root{
  --rish: #FE0879;
  --pinkish: #FF82E2;
  --yellowish: #FED715;
  --drkblueish: #0037B3;
  --yepcyan: #70BAFF;
  --y-11: #ffeb9a;

  --nnsh111: #E08F48;
  --nnsh111: #63ff9f;
  --nnsh222: #BF48E0;
  --nnsh333: #f9f604;
  --nnsh444: #1DBEE0;
  --nnsh555: #0e75d7;
}

*{
  box-sizing: border-box;
}

html {font-size: 100%;}

body{
  margin: 0;
  padding: 0;
  /* font-size: calc(66.5%/16); */

  font-family: 'Nanum Gothic', sans-serif;
  // background-color: var(--nnsh111);
}




video{
  width: 100%;
}

// #super-main{
//   max-width: 900px;
//   max-width: 1200px;
//   margin: 0 auto;
//   width: 100%;
// }

@mixin centeryou{
  max-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#header-of-devine{
  // background-color: orange;
  position: relative;
  h1{
    /* font-family: 'Gurajada', sans-serif; */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    // padding-left: 1em;
    // color: #f0dc00;
    color: var(--nnsh333);
    margin: 0.5em 0;
    margin: 0;
    // position: relative;
  }

  h2{
    font-weight: 700;
    color: #f0dc;
    font-size: 1.8rem;
    // padding-left: 9em;
    max-width: 700px;
    // margin: -100px 0 0 0;
  }
  .titles{
    display: flex;
    padding-left: 2em;
    h1{
      width: 700px;
    }
  }

  #robo-buddy{
    position: absolute;
    top: 90px;
    left: 40px;
  }

}


#acatgoofabat{
  margin-top: 100px;
  // padding-top: 100px;
  background-color: var(--nnsh111);


  // h2.title{
  //   padding-left: 2em;
  // }
  #can-a-title-moo{

    font-size: 3rem;
    font-weight: 900;
    // background-color: var(--nnsh444);
    padding: 1em;
    // margin-top: 140px;
    color: var(--nnsh555);
    text-transform: uppercase;
  }

  #of-two-window-bases{
    display: flex;
    align-items: flex-start;
    // @include centeryou;
    // padding: 8em 0;
    // padding-left: 400px;
    .featured{
      width: 400px;
    }
    #aboutsomevrrr{
      max-width: 400px;
      padding: 2em;
      h3{
        font-size: 2rem;
        margin-bottom: 0;
      }
      p{
        margin-top: 0;
        font-size: 1.7rem;
      }
      // font-weight: 900;
    }
  }
  #a-of-spend-now{
    // flex: 0 0 630px;
    // flex-grow: 1;
    margin-left: 2em;

    #vontitle-783{
        margin-top: -0.879em;
    }

    .am-i-a-title{
      margin: 0;
      font-family: 'GrandSlamScript-Regular', Helvetica, Arial, Sans-Serif;
      font-size: 7rem;
      color: var(--nnsh444);
      // text-shadow: 4px 3px 0px #000000;
      // font-kerning: none;
      text-shadow: 4px 3px 0px #eeff00;
      // letter-spacing: 0.05em;
    }
    #some-about-73{
      font-weight: 900;
      font-size: 1.6rem;
    }
  }
  #points-list-1{
    list-style-type: none;
    padding: 0;
    // list-style-image: url("/images/arrow02.png");
    font-size: 2.78723rem;
    li{
      font-family: 'Bebas Neue', sans-serif;
      color: blue;
      color: #6823ff;
      // color: var(--nnsh555);
      // color: white;
      // padding-left: 2em;
      // list-style-image: url("/images/arrow02.png");
      position: relative;
      img{
        display: inline-block;
        margin: 0 28px 0 0;
        width: 40px;
        // transform: rotate(-180deg);
        // right: 30%;
        // position: absolute;
      }
      &:nth-child(1){
        transform: rotate(-180deg);
      }
      &:nth-child(even){
        img{
          // transform: rotate(-180deg);
        }
      }
    }
    li:last-child{
      img{
        transform: rotate(-270deg);
      }
    }
    // li:before {
    //   content:"·";
    //   font-size:220px;
    //   vertical-align:middle;
    //   line-height:20px;
    //   // list-style-image: url("/images/arrow02.png");
    // }
    // li:before {
    //   content: "·";
    //   font-size: 0px;
    //   vertical-align: middle;
    //   line-height: 20px;
    //   background: url("/images/arrow02.png") no-repeat center;
    //
    //   display: inline-block;
    //   width: 100px; /* Adjust to match image dimensions */
    //   height: 100px;
    // }
  }
  .highlight-vid{
      // max-width: 300px;
      // min-width: 300px;
      // width: 500px;
      margin-right: 2em;
  }

  #stack-vids-1{
    position: relative;
    // border: solid 4px blue;
    video{
      max-width: 160px;
      margin: -4px;
      padding: 0;
    }
    video:nth-child(1){
        position: absolute;
        right: 20px;
        top: -380px;
    }
    video:nth-child(2){
        position: absolute;
        right: 140px;
        top: -280px;
    }
    video:nth-child(3){
        position: absolute;
        right: 216px;
        top: -160px;
    }
    // .featured{
    //   max-width: 400px;
    //
    // }
  }

}


#headerarea video{
  width: 70%;
}

#a-nav{
  display: flex;
  list-style-type: none;
  /* position: fixed; */
  background: white;
  z-index: 1;
  top: 0px;
  padding: 1em;
  padding-left: 2em;
  margin: 0;
  width: 100%;
}
#a-nav > *{
  margin-right: 2em;
}
#a-nav a:link{
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

#resume-a{
  /* display: none; */
  position: relative;
}

#threedee1{
  width: 100%;
  height: 600px;
  /* background: green; */
  position: relative;
  top: 0;
}

#resume-a video{
  width: 100%;
}




#projects{
  margin-top: 8em;
  padding: 0 2em;
  /* background: blue; */
}

#projects .item-type-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr;  */
  gap: 100px 100px;
  margin-bottom: 8em;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;

}
#projects .item-type-1 {
  /* background-attachment: fixed; */
  /* background-size: cover; */
}
#projects .item-type-1 video.funky{

  /* width: 26%; */
  width: 100%;
  max-width:440px;
  /* width:200%; */
  /* min-height: 600px; */
  background-size: cover;
  background-color: orange;
  /* border-radius: 16px; */
  align-self: start;
  /* padding: 0 8em; */
  /* margin-top: -4em; */
  /* margin-right: -2em; */


    mask-image:url('../svgs/thing1.svg');
    /* mask-position:center center; */
    mask-repeat:no-repeat;
    mask-size:cover;

    /* padding: 1em 1em 1em 0; */

}

#projects .item-type-1 .vidwrapper {
  position: relative;
}
#projects .item-type-1 .vidwrapper:after {
  /* content: "sdfgkdflg"; */
  content: "";
  background-color: orange;
  /* margin-left: 2em; */
  position: absolute;
  z-index: -1;
  top: 1em;
  left: 1em;
  /* position: relative; */
  /* right: -2em; */
  /* width: 800px; */
  width: 100%;
  /* height: 400px; */
  height: 100%;
  mask-image:url('../svgs/thing1.svg');
  /* mask-position:center center; */
  mask-repeat:no-repeat;
  mask-size:cover;

  background: rgb(255,126,0);
background: linear-gradient(180deg, rgba(255,126,0,0.2) 20%, rgba(255,186,0,1) 100%);

}

#projects .item-type-1 video.iphone{
    position: relative;
  /* width: 26%; */
  width: 100%;
  max-width:320px;
  /* width:200%; */
  /* min-height: 600px; */
  /* background-size: cover; */
  background-color: orange;
  background: rgb(255,126,0);
background: linear-gradient(180deg, rgba(255,126,0,0.2) 20%, rgba(255,186,0,1) 100%);

  border-radius:60px;
  align-self: start;
  margin-right: 2em;
  /* padding-right:2em; */
  /* padding: 0 8em; */
  /* margin-top: -4em; */
  /* margin-right: -2em; */

  padding: 0em 1em 1em 0;



    /* mask-image:url('../svgs/thing1.svg');
    mask-position:center center;
    mask-repeat:no-repeat;
    mask-size:cover; */

}

/* #projects .item-type-1 video.iphone::after { */
#projects .item-type-1 .fakething24328 {
  /* content: "''"; */
  background-color: orange;
  margin-left: 2em;
  /* position: absolute; */
  position: relative;
  /* right: -2em; */
  width: 800px;
  height: 400px;
}

#projects .item-type-1 article {
  order: 1;
  /* background: orange; */
  /* padding: 0 8em; */
  padding: 8em 2em 0 1em;
  max-width: 600px;

}
#projects .item-type-1 article h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  margin-left: -0.4em;
  /* font-weight: 700; */
}
#projects .item-type-1 article ul{

  border-left: solid 1px #aaeeff;
  margin-top: -0.2em;
  padding: 0.5em 1em 4em 0.5em;
}
#projects .item-type-1 article ul li{
  padding: 0.5em;
  list-style-type: none;
}

#projects .item-type-1 picture{
  width: 36%;
  min-height: 600px;
  background-size: cover;
  background-color: orange;
  border-radius: 16px;
  align-self: start;
  padding: 0 8em;
  margin-top: -4em;
  margin-right: -2em;
}


#videowall{
  width: 100%;
  /* display: flex; */
  /* display: grid; */
  /* grid-template-columns: repeat(7, 0fr); */

  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* gap: 0px; */

  /* flex-direction: row; */

 /* justify-content: flex-start; */
 /* align-content: stretch; */

  position: relative;
  background: white;
  z-index: 4;

}
#videowall video{
  /* width:200px; */
  /* width:12%; */
  width:calc(100%/4);

  /* object-fit: cover; */
  /* max-width: 100%; */
  /* height: auto; */
  /* vertical-align: middle; */


  /* float: left; */
/* flex: 0 0 auto; */

  /* width:200px; */
  /* height: 240px; */
  display:inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
}

@media screen and (min-width: 769px) {
  #videowall video{
    width:calc(100%/8);
  }
}


#minirobot{
  width: 100px;
}


/*
*{
  border: solid 1px green;
} */



.resizable-box {
  // width: 200px;
  // height: 100px;
  // background-color: #2ecc71;
  color: white;
  // display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid #27ae60;
  position: relative; /* Required for the resize handle */
  overflow: hidden; /* Prevent content overflow during resize */
  user-select: none; /* Prevent text selection while resizing */
}
